services:
  web:
    container_name: __IMAGE_BASE__
    image: __IMAGE__
    restart: unless-stopped
    networks:
      - __IMAGE_BASE__
    ports:
      - :80:80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/ham/HamClock/version.pl"]
      timeout: "5s"
      start_period: "20s"
    logging:
      options:
        max-size: "10m"
        max-file: "2"

networks:
  __IMAGE_BASE__:
    driver: bridge
    name: __IMAGE_BASE__
    enable_ipv6: true
    ipam:
     driver: default
    driver_opts:
      com.docker.network.bridge.name: __IMAGE_BASE__
